


.calculator{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    width: 300px;
    border-radius: 10px;
}
.button{
   justify-content: center;
   background-color:#666;
   color: white;
   border-radius:50%;
  padding: 20px;
  font-size: 18px;
   
   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.number{
    grid-column: span 4;
    text-align: right;
    margin-left: 102px;
    font-size: 87px;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}
#zero{
    grid-column: span 2;
    background-color:#666;
    color: white;
    
    border-radius: 50px;
    width: 140px;
    height: 58px;
    padding-top: 10px;
    margin-top: 1px;
    font-size: 24px;
    text-align: left;
}
.button.operator{
    background-color: rgb(237, 149, 35);
    font-size: 18px;
}
.button.o{
    background-color: rgb(212, 212, 212);
    color: black;
}